
# Exploration of a DataSet World's Population

### 1. Importing the libraries and necessary DataSets (World's population, Countries geographically for Folium)

In [1]:
import pandas as pd
import folium
import numpy as np
import matplotlib.pyplot as plt
import json
data = pd.read_csv('./data_population.csv', sep=',', skiprows = 1, header = 1)
country_geo = json.dumps(json.load(open('world-countries.json', 'r')))

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,NaN

### 2. Transforming data for the visualisation

In [2]:
def plotting_data(year):
      
    #data_to_plot.dropna(axis = 0, how = "any")
    data_to_plot = data[["Country Code", year]]
    #data_to_plot[year] = pd.to_numeric(data_to_plot[year]) 
    return data_to_plot

data_to_plot = plotting_data("2010")

data_to_plot.head()

  Country Code        2010
0          ABW    101669.0
1          AFG  28803167.0
2          AGO  23369131.0
3          ALB   2913021.0
4          AND     84449.0

### 3. Data visualisation using Folium

In [3]:
threshold = np.linspace(data_to_plot["2010"].min(), 1500000000, 6, dtype = int).tolist()
map = folium.Map(location=[0, 0], zoom_start=1)
map.choropleth(geo_data=country_geo, name='choropleth', data=data_to_plot, columns=['Country Code', '2010'], key_on='feature.id', fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2, threshold_scale = threshold)


map.save('plot_data.html')
from IPython.display import HTML
HTML('<iframe src=https://github.com/mlynckat/World-s-population-with-folium/blob/master/plot_data.html width=700 height=450></iframe>')

Unfortunately this way of visualisation is not meaningful. This map is only providing the information that China and India have the most population, followed by the USA. All the other countries are still in the same segment 10'000-300'000'000. To get more understanding of the figures the data should be presented more specified. For this purpose let's consider only Europe. But in the provided database there is no information of what countries are Europe. This information will be extracted from a Wikipedia page as followed.

### 5. Extracting info from a Wikipedia page

In [4]:
import wikipedia
import requests
from bs4 import BeautifulSoup

wikipedia.search("Europe")

europe = wikipedia.page("Europe")
req = requests.get(europe.url)
soup = BeautifulSoup(req.content, "lxml") 
wikitables = soup.findAll("table", {"class": "sortable"} )


names = []
for row in wikitables[0].findAll("tr"):
    cells = row.findAll("td")
    if len(cells) == 8:
        name = cells[2].find(text=True)
        names.append(name)

print (names)

['Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kazakhstan', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom', 'Vatican City']

### 5. Restricting the initial database for European countries only

In [5]:
print("Number of countries in Europe: ", len(names))


country_europe = []

for name in names:
    for i in range(0, len(data["Country Name"])):
        if name in data["Country Name"][i]:
            country_europe.append(data["Country Name"][i])
        
print("Number of found european countries: ", len(country_europe))


'''
not_found = []

for name in names:
    if name not in country_europe:
        not_found.append(name)
        
        
print("Not found: ", not_found)
'''

print("Slovakia in data: ", data["Country Name"][data["Country Code"]=="SVK"])
#print("Vatican in data ", data["Country Name"][data["Country Code"]=="VA"])

country_europe.append("Slovak Republic")


bool_europe = []
for index, row in data.iterrows():
    if data["Country Name"][index] in country_europe:
        bool_europe.append(True)
    else:
        bool_europe.append(False)
data["bool_europe"] = bool_europe


data_to_plot_europe = data[data["bool_europe"]]
data_to_plot_europe

Number of countries in Europe:  50
Number of found european countries:  48
Slovakia in data:  219    Slovak Republic
Name: Country Name, dtype: object

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61,bool_europe
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,NaN,True
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,NaN,True
8,Armenia,ARM,"Population, total",SP.POP.TOTL,1874120.0,1941491.0,2009526.0,2077575.0,2144998.0,2211316.0,...,2888584.0,2877311.0,2875581.0,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0,NaN,True
12,Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,...,8343323.0,8363404.0,8391643.0,8429991.0,8479375.0,8541575.0,8633169.0,8747358.0,NaN,True
13,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3895396.0,4030320.0,4171425.0,4315128.0,4456689.0,4592610.0,...,8947243.0,9054332.0,9173082.0,9295784.0,9416801.0,9535079.0,9649341.0,9762274.0,NaN,True
15,Belgium,BEL,"Population, total",SP.POP.TOTL,9153489.0,9183948.0,9220578.0,9289770.0,9378113.0,9463667.0,...,10796493.0,10895586.0,11047744.0,11128246.0,11182817.0,11209057.0,11274196.0,11348159.0,NaN,True
19,Bulgaria,BGR,"Population, total",SP.POP.TOTL,7867374.0,7943118.0,8012946.0,8078145.0,8144340.0,8204168.0,...,7444443.0,7395599.0,7348328.0,7305888.0,7265115.0,7223938.0,7177991.0,7127822.0,NaN,True
22,Bosnia and Herzegovina,BIH,"Population, total",SP.POP.TOTL,3225668.0,3288602.0,3353226.0,3417574.0,3478995.0,3535640.0,...,3746561.0,3722084.0,3688865.0,3648200.0,3604999.0,3566002.0,3535961.0,3516816.0,NaN,True
23,Belarus,BLR,"Population, total",SP.POP.TOTL,8198000.0,8271216.0,8351928.0,8437232.0,8524224.0,8610000.0,...,9506765.0,9490583.0,9473172.0,9464495.0,9465997.0,9474511.0,9489616.0,9507120.0,NaN,True
35,Switzerland,CHE,"Population, total",SP.POP.TOTL,5327827.0,5434294.0,5573815.0,5694247.0,5789228.0,5856472.0,...,7743831.0,7824909.0,7912398.0,7996861.0,8089346.0,8188649.0,8282396.0,8372098.0,NaN,True
51,Cyprus,CYP,"Population, total",SP.POP.TOTL,572930.0,576395.0,577691.0,577913.0,578627.0,580966.0,...,1098076.0,1112607.0,1124835.0,1135062.0,1143896.0,1152309.0,1160985.0,1170125.0,NaN,True
52,Czech Republic,CZE,"Population, total",SP.POP.TOTL,9602006.0,9586651.0,9624660.0,9670685.0,9727804.0,9779358.0,...,10443936.0,10474410.0,10496088.0,10510785.0,10514272.0,10525347.0,10546059.0,10561633.0,NaN,True
53,Germany,DEU,"Population, total",SP.POP.TOTL,72814900.0,73377632.0,74025784.0,74714353.0,75318337.0,75963695.0,...,81902307.0,81776930.0,80274983.0,80425823.0,80645605.0,80982500.0,81686611.0,82667685.0,NaN,True
56,Denmark,DNK,"Population, total",SP.POP.TOTL,4579603.0,4611687.0,4647727.0,4684483.0,4722072.0,4759012.0,...,5523095.0,5547683.0,5570572.0,5591572.0,5614932.0,5643475.0,5683483.0,5731118.0,NaN,True
68,Spain,ESP,"Population, total",SP.POP.TOTL,30455000.0,30739250.0,31023366.0,31296651.0,31609195.0,31954292.0,...,46362946.0,46576897.0,46742697.0,46773055.0,46620045.0,46480882.0,46447697.0,46443959.0,NaN,True
69,Estonia,EST,"Population, total",SP.POP.TOTL,1211537.0,1225077.0,1241623.0,1258857.0,1277086.0,1294566.0,...,1334515.0,1331475.0,1327439.0,1322696.0,1317997.0,1314545.0,1315407.0,1316481.0,NaN,True
73,Finland,FIN,"Population, total",SP.POP.TOTL,4429634.0,4461005.0,4491443.0,4523309.0,4548543.0,4563732.0,...,5338871.0,5363352.0,5388272.0,5413971.0,5438972.0,5461512.0,5479531.0,5495096.0,NaN,True
75,France,FRA,"Population, total",SP.POP.TOTL,46814237.0,47444751.0,48119649.0,48803680.0,49449403.0,50023774.0,...,64707044.0,65027512.0,65342776.0,65659790.0,65998570.0,66331957.0,66624068.0,66896109.0,NaN,True
79,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,62276270.0,62766365.0,63258918.0,63700300.0,64128226.0,64613160.0,65128861.0,65637239.0,NaN,True
80,Georgia,GEO,"Population, total",SP.POP.TOTL,3645600.0,3703600.0,3760300.0,3816100.0,3870300.0,3921600.0,...,3978000.0,3926000.0,3875000.0,3825000.0,3776000.0,3727000.0,3717100.0,3719300.0,NaN,True
87,Greece,GRC,"Population, total",SP.POP.TOTL,8331725.0,8398050.0,8448233.0,8479625.0,8510429.0,8550333.0,...,11107017.0,11121341.0,11104899.0,11045011.0,10965211.0,10892413.0,10820883.0,10746740.0,NaN,True
97,Croatia,HRV,"Population, total",SP.POP.TOTL,4140000.0,4171672.0,4202104.0,4231408.0,4259680.0,4287000.0,...,4429078.0,4417781.0,4280622.0,4267558.0,4255689.0,4238389.0,4203604.0,4170600.0,NaN,True
99,Hungary,HUN,"Population, total",SP.POP.TOTL,9983967.0,10029321.0,10061734.0,10087947.0,10119835.0,10147935.0,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9817958.0,NaN,True
109,Ireland,IRL,"Population, total",SP.POP.TOTL,2828600.0,2824400.0,2836050.0,2852650.0,2866550.0,2877300.0,...,4535375.0,4560155.0,4576794.0,4586897.0,4598294.0,4617225.0,4676835.0,4773095.0,NaN,True
112,Iceland,ISL,"Population, total",SP.POP.TOTL,175574.0,179029.0,182378.0,185653.0,188983.0,192286.0,...,318499.0,318041.0,319014.0,320716.0,323764.0,327386.0,330815.0,334252.0,NaN,True
114,Italy,ITA,"Population, total",SP.POP.TOTL,50199700.0,50536350.0,50879450.0,51252000.0,51675350.0,52112350.0,...,59095365.0,59277417.0,59379449.0,59539717.0,60233948.0,60789140.0,60730582.0,60600590.0,NaN,True
118,Kazakhstan,KAZ,"Population, total",SP.POP.TOTL,9714260.0,10129861.0,10532062.0,10913552.0,11267329.0,11588870.0,...,16092701.0,16321581.0,16556600.0,16791425.0,17035275.0,17289224.0,17544126.0,17797032.0,NaN,True
135,Liechtenstein,LIE,"Population, total",SP.POP.TOTL,16495.0,16894.0,17290.0,17718.0,18170.0,18649.0,...,35766.0,36003.0,36264.0,36545.0,36834.0,37127.0,37403.0,37666.0,NaN,True
141,Lithuania,LTU,"Population, total",SP.POP.TOTL,2778550.0,2823550.0,2863350.0,2898950.0,2935200.0,2971450.0,...,3162916.0,3097282.0,3028115.0,2987773.0,2957689.0,2932367.0,2904910.0,2872298.0,NaN,True
142,Luxembourg,LUX,"Population, total",SP.POP.TOTL,313970.0,316845.0,320750.0,324100.0,327750.0,331500.0,...,497783.0,506953.0,518347.0,530946.0,543360.0,556319.0,569604.0,582972.0,NaN,True
143,Latvia,LVA,"Population, total",SP.POP.TOTL,2120979.0,2152681.0,2181586.0,2210919.0,2240623.0,2265919.0,...,2141669.0,2097555.0,2059709.0,2034319.0,2012647.0,1993782.0,1977527.0,1960424.0,NaN,True
147,Monaco,MCO,"Population, total",SP.POP.TOTL,22452.0,22808.0,23039.0,23168.0,23236.0,23282.0,...,36534.0,37094.0,37497.0,37783.0,37971.0,38132.0,38307.0,38499.0,NaN,True
148,Moldova,MDA,"Population, total",SP.POP.TOTL,2544000.0,2605000.0,2664000.0,2721000.0,2774000.0,2825000.0,...,3565604.0,3562045.0,3559986.0,3559519.0,3558566.0,3556397.0,3554108.0,3552000.0,NaN,True
155,"Macedonia, FYR",MKD,"Population, total",SP.POP.TOTL,1488667.0,1507654.0,1527111.0,1547450.0,1569141.0,1592432.0,...,2069093.0,2070739.0,2072383.0,2074036.0,2075739.0,2077495.0,2079308.0,2081206.0,NaN,True
157,Malta,MLT,"Population, total",SP.POP.TOTL,326550.0,325250.0,323900.0,322550.0,321250.0,318800.0,...,412477.0,414508.0,416268.0,419455.0,423374.0,427364.0,431874.0,436947.0,NaN,True
160,Montenegro,MNE,"Population, total",SP.POP.TOTL,480579.0,491140.0,502558.0,513409.0,521753.0,526327.0,...,618294.0,619428.0,620079.0,620601.0,621207.0,621810.0,622159.0,622781.0,NaN,True
174,Netherlands,NLD,"Population, total",SP.POP.TOTL,11486631.0,11638712.0,11805689.0,11965966.0,12127120.0,12294732.0,...,16530388.0,16615394.0,16693074.0,16754962.0,16804432.0,16865008.0,16939923.0,17018408.0,NaN,True
175,Norway,NOR,"Population, total",SP.POP.TOTL,3581239.0,3609800.0,3638918.0,3666537.0,3694339.0,3723168.0,...,4828726.0,4889252.0,4953088.0,5018573.0,5079623.0,5137232.0,5188607.0,5232929.0,NaN,True
188,Poland,POL,"Population, total",SP.POP.TOTL,29637450.0,29964000.0,30308500.0,30712000.0,31139450.0,31444950.0,...,38151603.0,38042794.0,38063255.0,38063164.0,38040196.0,38011735.0,37986412.0,37948016.0,NaN,True
192,Portugal,PRT,"Population, total",SP.POP.TOTL,8857716.0,8929316.0,8993985.0,9030355.0,9035365.0,8998595.0,...,10568247.0,10573100.0,10557560.0,10514844.0,10457295.0,10401062.0,10358076.0,10324611.0,NaN,True
199,Romania,ROU,"Population, total",SP.POP.TOTL,18406905.0,18555250.0,18676550.0,18797850.0,18919126.0,19031576.0,...,20367487.0,20246871.0,20147528.0,20058035.0,19983693.0,19908979.0,19815481.0,19705301.0,NaN,True
200,Russian Federation,RUS,"Population, total",SP.POP.TOTL,119897000.0,121236000.0,122591000.0,123960000.0,125345000.0,126745000.0,...,142785342.0,142849449.0,142960868.0,143201676.0,143506911.0,143819666.0,144096870.0,144342396.0,NaN,True
210,San Marino,SMR,"Population, total",SP.POP.TOTL,15397.0,15789.0,16199.0,16621.0,17032.0,17441.0,...,30723.0,31110.0,31504.0,31914.0,32303.0,32657.0,32960.0,33203.0,NaN,True
212,Serbia,SRB,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,7320807.0,7291436.0,7234099.0,7199077.0,7164132.0,7130576.0,7095383.0,7057412.0,NaN,True
219,Slovak Republic,SVK,"Population, total",SP.POP.TOTL,4068095.0,4191667.0,4238188.0,4282017.0,4327341.0,4370983.0,...,5386406.0,5391428.0,5398384.0,5407579.0,5413393.0,5418649.0,5423801.0,5428704.0,NaN,True
220,Slovenia,SVN,"Population, total",SP.POP.TOTL,1584720.0,1594131.0,1603649.0,1616971.0,1632114.0,1649160.0,...,2039669.0,2048583.0,2052843.0,2057159.0,2059953.0,2061980.0,2063531.0,2064845.0,NaN,True
221,Sweden,SWE,"Population, total",SP.POP.TOTL,7484656.0,7519998.0,7561588.0,7604328.0,7661354.0,7733853.0,...,9298515.0,9378126.0,9449213.0,9519374.0,9600379.0,9696110.0,9799186.0,9903122.0,NaN,True
242,Turkey,TUR,"Population, total",SP.POP.TOTL,27472331.0,28146893.0,28832805.0,29531342.0,30244232.0,30972965.0,...,71339185.0,72326914.0,73409455.0,74569867.0,75787333.0,77030628.0,78271472.0,79512426.0,NaN,True
246,Ukraine,UKR,"Population, total",SP.POP.TOTL,42662149.0,43203635.0,43749470.0,44285899.0,44794327.0,45261935.0,...,46053300.0,45870700.0,45706100.0,45593300.0,45489600.0,45271947.0,45154029.0,45004645.0,NaN,True

### 6. Redrawing the map only for Europe area

In [6]:
threshold = np.linspace(data_to_plot_europe["2010"].min(), data_to_plot_europe["2010"].max(), 6, dtype = int).tolist()
map = folium.Map(location=[60, 30], tiles='cartodbpositron', zoom_start=3)
map.choropleth(geo_data=country_geo, name='choropleth', data=data_to_plot_europe, columns=['Country Code', '2010'], key_on='feature.id', fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2, threshold_scale = threshold, legend_name='Population')


map.save('plot_data.html')
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')

gJson_layer_1 = L.geoJson(gjson_1, {
  style: style_1,
  onEachFeature: function (feature, layer) {
    layer.bindPopup(feature.properties.PCON13NM);}}).addTo(map)

SyntaxError: invalid syntax (<ipython-input-6-d2029eed940a>, line 12)

In [7]:
from ipywidgets import widgets, Layout, Label, interact
from IPython.display import display, HTML
import traitlets

columns = data.columns.tolist()
columns = columns[4:-2]


selection = widgets.SelectionSlider(description = "Which year should be graphed?", options = columns, value="2010", continuous_update=False, layout=Layout(width='70%', height='80px'))

year = selection.value

def draw_the_map(year):
    threshold = np.linspace(data_to_plot_europe[year].min(), data_to_plot_europe[year].max(), 6, dtype = int).tolist()
    map_europe = folium.Map(location=[60, 30], tiles='cartodbpositron', zoom_start=3)
    map_europe.choropleth(geo_data=country_geo, name='choropleth', data=data_to_plot_europe, columns=['Country Code', year], key_on='feature.id', fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2, threshold_scale = threshold, legend_name='Population')
    map_europe = map_europe.save('plot_data.html')
    return HTML('<iframe src=plot_data.html width=700 height=450></iframe>')

interact(draw_the_map, year=selection)

In [97]:

'''
#initialize a map.
map1 = folium.Map(location=[40,10], zoom_start=4, control_scale=True, prefer_canvas=True)

#Iterate through the data. For each row, we add a separate geoJSON layer.
#Using the Parameter highlight_function = .... allows us to control the behaviour at mouse over.
for index, row in data.iterrows():
    c = folium.GeoJson(row['geojson'], name = (row['dep']+ row['dest']),overlay=False, 
                       style_function = lambda feature: {'fillColor': '#ffaf00','color': 'blue', 'weight': 1.5,'dashArray': '5, 5'},
                       highlight_function = lambda feature: {'fillColor': '#ffaf00','color': 'green', 'weight': 3,'dashArray': '5, 5'})
    c.add_child(folium.Popup(row['dep'] +'\n' + row['dest']))
    c.add_to(map1)

folium.LayerControl().add_to(map1)
map1.save(outfile='map1.html')

map1'''



#df = pd.read_json(country_geo)

country_geo[feature.id]

NameError: name 'feature' is not defined